<!-- 
    Copyright © 2024 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{ $error := false }}

{{- define "partials/inline/animation-body.html" }}
    {{- $id := .id -}}
    {{- $class := .class -}}
    {{- $loop := .loop -}}
    {{- $auto := .auto -}}
    {{- $hover := .hover -}}
    {{- $title := .title -}}
    {{- $data := .data -}}

    {{- if and $data (not (fileExists (path.Join "static" $data))) -}}
        {{- errorf "partial [assets/animation.html] - Cannot find data: %s" $data -}}
    {{ else }}
        {{- $data = partial "utilities/GetStaticURL" (dict "url" $data) -}}
        <div id="{{ $id }}" class="lottie-animation{{ with $class}} {{ . }}{{ end }}"
            {{ with $loop }}data-lottie-loop="{{ . }}"{{ end }}
            {{ with $auto }}data-lottie-auto="{{ . }}"{{ end }}
            {{ with $hover }}data-lottie-hover="{{ . }}"{{ end }}
            {{ with $title }}data-lottie-title="{{ . }}"{{ end }}
            {{ with $data }}data-lottie-data="{{ . }}"{{ end }}>
        </div>
    {{- end -}}
{{- end -}}

<!-- Validate arguments -->
{{ if partial "utilities/IsInvalidArgs.html" (dict "structure" "animation" "args" . "group" "partial") }}
    {{- errorf "partial [assets/animation.html] - Invalid arguments" -}}
    {{ $error = true }}
{{ end }}

<!-- Initialize arguments -->
{{- $id := .id -}}
{{- $class := .class -}}
{{- $loop := .loop | default true -}}
{{- $auto := .auto | default true -}}
{{- $hover := .hover | default false -}}
{{- $title := .title -}}
{{- $data := .data -}}
{{- $mode := .mode | default false -}}
{{- $modes := site.Params.main.modes | default (slice "light" "dark") -}}

{{- $files := slice -}}

{{- if $mode -}}
    {{- $ext := path.Ext $data -}}
    {{- $base := strings.TrimSuffix $ext $data -}}
    {{- range $suffix := $modes -}}
        {{- $base = strings.TrimSuffix (printf "-%s" $suffix) $base -}}
    {{- end -}}

    {{- range $suffix := $modes -}}
        {{- $files = $files | append (dict "path" (printf "%s-%s%s" $base $suffix $ext) "mode" $suffix) -}}
    {{- end -}}
{{ else }}
    {{- $files = $files | append (dict "path" $data "mode" "") -}}    
{{- end -}}

<!-- Main code -->
{{ range $files }}
    {{- $display := $class -}}
    {{- $current := .mode }}
    {{ if $current }}
        {{- range $none := $modes -}}
            {{- if ne $none $current -}}
                {{ $display = printf "%s d-none-%s" $class $none }}
            {{- end -}}
        {{- end -}}
    {{ end -}}
    
    {{- partial "inline/animation-body.html" (dict 
        "id" $id
        "class" $display
        "loop" $loop
        "auto" $auto
        "hover" $hover
        "title" $title
        "data" .path)
    -}}
{{ end }}