<!-- 
    Copyright © 2024 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{ $error := false }}

<!-- Validate arguments -->
{{ if partial "utilities/IsInvalidArgs.html" (dict "structure" "animation" "args" .Params) }}
    {{ errorf "Invalid arguments: %s" .Position -}}
    {{ $error = true }}
{{ end }}

<!-- Initialize arguments -->
{{- $id := or (.Get "id") (printf "lottie-animation-%d" .Ordinal) -}}
{{- $class := .Get "class" -}}
{{- $loop := .Get "loop" | default true -}}
{{- $auto := .Get "auto" | default true -}}
{{- $hover := .Get "hover" | default false -}}
{{- $title := .Get "title" -}}
{{- $data := .Get "data" -}}
{{- $mode := .Get "mode" | default false -}}
{{- $modes := site.Params.main.modes | default (slice "light" "dark") -}}

{{- if $mode }}
    {{- $ext := path.Ext $data -}}
    {{- $base := strings.TrimSuffix $ext $data -}}
    {{- range $suffix := $modes -}}
        {{- $base = strings.TrimSuffix (printf "-%s" $suffix) $base -}}
    {{- end }}
    {{- range $suffix := $modes -}}
        {{- $path := (printf "%s-%s%s" $base $suffix $ext) -}}
        {{- if not (fileExists (path.Join "static" $path)) -}}
            {{- errorf "Cannot find data: '%s' at %s" $path $.Position -}}
            {{- $error = true -}}
        {{- end -}}
    {{- end -}}
{{ else if and $data (not (fileExists (path.Join "static" $data))) -}}
    {{- errorf "Cannot find data: '%s' at %s" $data .Position -}}
    {{- $error = true -}}
{{- end -}}

<!-- Main code -->
{{- if not $error -}}
    {{ partial "assets/animation.html" (dict 
        "id" $id
        "class" $class
        "loop" $loop
        "auto" $auto
        "hover" $hover
        "title" $title
        "data" $data
        "mode" $mode
    ) }}
{{- end -}}